/* Body Css Styling*/
body {
  display: flex;
  flex-direction: column;
  /*background-image: url('body.jpg')*/;
  background-color: #C5C6D0;
}

/*Header Css styling*/
header {
  display: flex;
  flex-direction: row;
  background-image: url('contact_header.jpg');
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 160px;
}
.Alumni_connect {
  border-radius: 50%;
}
.trademark {
  color: white;
}
.nav_links {
  margin: 49px 0 0;
  height: 20px;
  width: 302px;
}
.nav_links a {
  padding: 0 6px 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
/*Main Css Styling*/
section {
  background-color: #C5C6D0;
}
.personal_info {
  height: 350px;
  background-image: url('fieldset1.jpg');
}
.personal_info_legend {
  text-align: center;
  position: relative;
  top: 20px;
  font-size: 30px;
}
.input_space {
  margin: 50px 0 20px;
}
.input_space label {
  color: #B90E0A;
}
.input_space input{
  border-radius: 5px;
  border: medium solid #60100B;
}
.message_info {
  height: 670px;
}
.contact_space {
  margin: 70px 0 40px;
}
.message_info_legend {
  text-align: center;
  position: relative;
  top: 25px;
  font-size: 30px;
}
.message_info {
  background-image: url('fieldset2.jpg');
}
.message_label {
  color: #900D09;
}
.contact_space select {
  color: #795C34;
  border-radius: 5px;
  border: medium solid #60100B;
}
.contact_space textarea {
  width: 350px;
  height: 100px;
  border: medium solid #60100B;
  border-radius: 5px;
  background-color: black;
  color: white;
}
.high {
  background-color: #030104;
  color: #D21404;
}
.medium {
  background-color: #030104;
  color: #FFFD37;
}
.low {
  background-color: #030104;
  color: #5DBB63;
}
.text_message {
  background-color: #030104;
  color: #1520A6;
}
.email {
  background-color: #030104;
  color: #1034A6;
}
.phone_call {
  background-color: #030104;
  color: #028A0F;
}
.whatsapp {
  background-color: #030104;
  color: #03AC13;
}
.event_info {
  height: 700px;
  background-image: url('fieldset3.jpg');
}
.event_legend {
  text-align: center;
  position: relative;
  top: 25px;
  font-size: 30px;
  color: white;
}
.event_space {
  margin: 70px 0 40px;
}
.about_us, .choice-selection {
  color: white;
}
.grad_year {
  border: medium solid #60100B;
  border-radius: 5px;
  background-color: #050301;
  color: #FFD700;
}
.register_event {
  border: medium solid #60100B;
  border-radius: 5px;
  background-color: #050301;
  color: #FFEF00;
}
.send_form {
  background-image: url('fieldset4.jpg');
  height: 100px;
}
.send_form_legend {
  text-align: center;
  position: relative;
  top: 25px;
  font-size: 30px;
  color: black;
}
@media screen and (min-width: 769px) {
.submission_space {
  margin: 40px 0 0 47.5%;
}
}
@media screen and (max-width: 768px) {
  .submission_space {
    margin: 40px 0 0 45%;
  }
}
.submit_style {
  border: 3px solid #022D36;
  background-color: black;
  color: white;
}
footer {
  background-image: url('footer1.jpg');
  height: 200px;
  margin-top: 15px;
}
.footer_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.alumni_cont {
  margin-top: 10px;
}
.logo_cont {
  margin-top: 40px;
}
footer p {
  text-align: center;
  margin-top: 40px;
  color: #FBFBF9;
}
.logo_count a {
  margin: 0 1em 0 0;
}
